<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.melvin.pulltorefresh">

    <application
        android:name="com.melvin.melvincommon.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/pull_to_refresh_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity
            android:name=".main.PullToRefreshMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- <activity android:name=".xrecyclerview.XRecyclerviewActivity"> -->
        <!-- </activity> -->
        <activity android:name=".lrecyclerview.LRecyclerviewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".swiperefresh.ui.SwipRefreshActivity"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>